---
name: Deploy to Dokku
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          git_remote_url: 'ssh://dokku@{dokku-pmf-sandbox.westus2.cloudapp.azure.com}:22/app-template'
          ssh_private_key: ${{ secrets.SSH_PRIVATE_SANDBOX_DOKKU_JK }}
          branch: dev:main